.recipeItem{
  height:auto;
  display: grid;
  place-items: center;
  text-align: center;
  position:relative;
  margin-top:2rem;

  &__textContainer{
    border: 5px solid #fff;
    border-radius:7px;
    background-color: #F0F7FF;
    display: grid;
    grid-template-rows: 1fr auto;
    width:100%;
    padding:1rem;
    padding-top:4rem;
    width:150px;
    height:100px;
  }

  &__cooktime{
    margin:0;
  }
  &__title{
    margin-top:1rem;
    margin-bottom:0.2rem;
  }
  &__img{
    position:absolute;
    border-radius: 50%;
    width:100px;
    height:100px;
    top:-20%;
  }
}