.recipeView{
  width:500px;
  border: 15px solid #fff;
  border-radius: 19px;
  padding: 2rem 2rem;
  margin-top:1rem;
  margin-bottom:1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__nutritional{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap:2rem;
  }
}